*  {margin: 0; 
    padding:0;
    box-sizing: border-box;}


body {
    background-color: aqua;
    height: 1400px;
    font-family: 'Open Sans', sans-serif;
}

/*Colors*/

/*Utilities*/

.relative-position {
    position: relative;
}

.flex {
    display: flex;
}

.bottone 
{
    background-color: rgb(1, 135, 252);
    color: white;
    padding: 5px 5px;
    font-size: 12px;
}

/*Header*/


header {
    background-color: blue;
    height: 600px;
}

nav {
    height: 45px;
    background-color: chartreuse;
}

.container-nav{
    justify-content: space-between;
    align-items: center;
}

.container-ul li{
    margin: 0 15px;
}




.ul-nav {
    list-style-type: none;
    width: 50%;
}




.container-header {
    max-width: 1000px;
    margin:0 auto;
    background-color: white;
    height: 80%;
}

h1 {
    font-size: 60px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.blocco-descrizione {
    height: 100%;
    width:
    }

.paragrafetto {
    display: inline-block;
    height: 30%;
    width: 30%;
    font-size: 12px;
}

.immagine-enorme {
        height: 300px;
        width: auto;
        position: absolute;
}


/*Main*/

main {
    background-color: blueviolet;
    height: 600px;
}

.container-main {
    max-width: 1400px;
    margin: 0 auto;
}

/*Sub Main*/

.container-sub-main {}


/*Footer*/

footer {
    background-color: black;
    height: 600px;
}