*  {margin: 0; 
    padding:0;
    box-sizing: border-box;}

a {text-decoration:;}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}


/*Colori Quadratoni*/

.verdino {background-color: rgb(162,211,155)}
.azzurro {background-color:rgb(0,148,206)}
.rosso-acceso {background-color:rgb(254,28,28)}
.porpora {background-color:rgb(98,8,43)}

.grande {background-color:rgb(245,245,245)}

.rosso-spento {background-color:rgb(213,1,31)}
.blu {background-color:rgb(14,36,129)}
.giallo {background-color:rgb(255,216,47)}
.grigio-azzurro {background-color:rgb(180,208,231)}



/*Utilities*/

.relative-position {
    position: relative;
}

.flex {
    display: flex;
}

.bottone 
{
    background-color: rgb(1, 135, 252);
    color: white;
    padding: 7px 7px;
    font-size: 12px;
}

.pix12 {
    font-size: 12px;
}

.blu-check{
    color: rgb(1, 135, 252);
}


/*Header*/


header {
    background-color: rgb(180,208,231);
    height: 600px;
}

nav {
    height: 45px;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1;
    box-shadow: black 0px 0px 9px 0px;
}

.logo-small {
    height: 70%;
    display: inline-block;
    
}


.container-nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container-nav .ul-nav li{
    margin: 0 15px;
    font-size: 14px;
}

.ul-nav {
    list-style-type: none;
}

.container-header {
    position: relative;
    top: 60px;
    max-width: 970px;
    height: 600px;
    margin:0 auto;
    background-color: rgb(180,208,231);
    height: 80%;
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.blocco-descrizione {
    height: 60%;
    }

.paragrafetto {
    display: inline-block;
    height: 40%;
    width: 30%;
    font-size: 12px;
}

#annulla {
    position: absolute;
    left: 0;
    bottom: 35%;
    font-size: 14px;
}

.freccia-giu {
    position: relative;
    bottom: -110px;
    left: 5px;
    font-size: 35px;
}

.jumbo-image {
    height: 388px;
    width: auto;
    position: absolute;
    bottom: -101px;
    right: -9px;
}


/*Main*/

main {
    background-color: white;
    
}

.container-main {
    padding-top: 80px;
    max-width: 50%;
    margin: 0 auto;
    background-color: white;
}

h2 {
    margin-bottom: 30px;
}

.bottone-check { 
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid rgb(1, 135, 252);
}

.bottone-uncheck { 
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    margin-left: 30px;
}

.contenitore-colonne {
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin: 35px 0;
}

.main-column {
    width: 198px;
    height: 615px;
    background-color: white;
    border: 1px solid black;
}

.azienda-o-privato {
    display: inline-block;
    text-align: center;
    border-bottom: solid 1px black;
    width: 100%;
    font-size: 10px;
    padding: 7px;
}

.main-column-content {
    padding: 10px;
    font-size: 12px;
}

.top-row {
    height: 300px;
    justify-content: space-between;
    flex-direction: column;
}

.scelta-piano {
    font-weight: 600;
    font-size: 20px;
}

.righetta {
    display: inline-block;
    height: 1px;
    background-color: gray;
    width: 20%;
    margin: 30px 0;
}

.punti-salienti {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.lista-column li{
    list-style-type: none;
    margin: 10px 0;
}

/*Fine colonne*/

.central-main-block {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid black;
}

.top-central-main-block {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 12px;
    padding: 8px 0;
}

.bottom-central-main-block {
    padding: 30px;
}

.enterprise {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    width: 70%;
}

.contatta-vendite {
    font-weight: 600;
    font-size: 12px;
    display: block;
}

.spiegazione-main-block{
    display: inline-block;
    width: 70%;
    font-size: 12px;
    margin-top: 30px;
}


.dropbox-partners {
    margin: 60px 0;
    width: 100%;
    height: 400px;
    background-color: white;
    justify-content: space-around;
}

.partner {
    width: 70%;
}

.partner-side {
    padding: 25px;
}

h3 {display: inline-block;
font-size: 16px;}

.paragrafino {
    font-size: 12px;
    margin: 20px 0;
}

#partner-button {
    border: 1px solid grey;
    padding: 5px;
    font-size: 12px;
}


/*Mid-Main*/

.section-box {
    height: 1000px;
    background-color: white;
}

h4 {
    font-size: 24px;
}

.card-container {
    margin: 30px 0;
    background-color: gold;
    height: 400px;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 3);
    height: 100%;
    background-color: white;
}   

.img-card {
    width: 100%;
}

h5 {
    margin: 20px 0;
}

.p-card {
    font-size: 12px;
}

.titolone {
    font-size: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 50px;
}

.link-clienti {font-size: 14px;}


 /*Sub Main*/

.container-sub-main {
    width: 100%;
    margin-top: 100px;
    height: 375px;
    
    
}

.sub-main-col {
    display: block;
    width: calc(100% / 3);
    height: 100%;
    
}


.sub-main-row { 
    width: 100%;
    height: 50%;
    
}

.sub-main-row [src] {
    position: relative;
    display: inline-block;
    filter: invert(1);
}

/*Posizioni relative img nei blocchi*/

.designit{
    width: 50%;
    top: 43%;
    left: 25%;
    
}

.arizona-university {
    width: 58%;
    top: 30%;
    left: 24%;
    
}

.florida-university {
    width: 58%;
    top: 41%;
    left: 21%;
    
}

.topps {
    width: 58%;
    top: 37%;
    left: 21%;
}

.bicycle {
    width: 58%;
    top: 37%;
    left: 21%;
}

.hearst {
    width: 58%;
    top: 45%;
    left: 21%;
}

.lonely-planet {
    width: 58%;
    top: 36%;
    left: 21%;
}

.clear-channel {
    width: 58%;
    top: 29%;
    left: 21%;
}

.main-column-img {
    display: block;
    width: 50%;
}

.quadrato-left {
    width: 50%;
    height: 100%;
    
}

.quadrato-right {
    width: 50%;
    height: 100%;
    
}

.contenuto-central-column {
    height: 100%;
    padding: 30px;
}
    

.citazione {
    font-size: 12px;
    margin: 20px 0;
}

.design {
    width: 50%;
}



/*End-main*/

.container-imperativo {
    background-color: rgb(180,208,231);
    height: 200px;
}


.end-main-container {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 850px;
    padding-top: 60px;
    }

.porta-dropbox {
    display: inline-block;
    width: 50%;
    font-size: 25px;
    font-weight: 600;
}

.inizia {
    display: inline-block;
    background-color: white;
    padding: 5px 15px;
    font-size: 12px;
}

/*Footer*/

footer {
    background-color: black;
}

/*Footer-top*/

.white {
    background-color: white;
    
}

.footer-top {
    height: 50%;
    background-color: white;
}

.footer-bottom {
    height: 50%;
    color: white;
}

h6 {
    font-size: 30px;
    margin-top: 50px;

}

.container-footer-top {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 70px;

}

.ul-footer-top {
    margin-top: 50px;
    list-style-type: none;
    border-bottom: 1px solid black;
}

.li-footer-top {
    border-top:  1px solid black;
    padding: 25px 0;
    font-size: 14px;
    font-weight: 600;
    
}

.freccettina-footer {
    margin-left: 260px;
}

/*Footer-bottom*/

.container-footer-bottom {
    width: 70%;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.ul-footer-bottom {
    list-style-type: none;
    justify-content: space-between;
    padding: 50px 0;
    line-height: 2.5;
}

.no-lyst-type{
    list-style-type: none;
    font-size: 12px;
}

.ul-bold {
    font-weight: 600;
    font-size: 20px;
}

.lingua {
    height: 30px;
    display: inline-block;
    padding: 30px 0;
    border-top: 1px solid white;
    font-size: 12px;
}



